$def with(key, projects)

$ crumbs().append(['', 'dugnad'])
$ crumbs().append([None, _('bakrom')])

<link rel='stylesheet' href='$config['base']/css/chartist.css'>
<script src='$config['base']/js/chartist.js'></script>

<section class=info>
  <section>
    <h1>Bakrommet</h1>
    <p>Her får du en oversikt over prosjektene – hvem som har bidratt, hvor mye, og hvor ofte.
  </section>
</section>

<section class=projects>
  $for project in projects:
    <article>
      <a href='$prefix/$_('url-project')/$project['slug']/$_('url-backroom')'>
        $if 'image' in project:
          <img src='$config['base']/images/$project['image']'>
        <h3>$_(project['title'])</h3>
      </a>
      $if 'difficulty' in project:
        <p class=difficulty>$_('difficulty'): <b>$project['difficulty']</b>
    </article>
</section>

