$def with(config, forms, key, project)

$ crumbs().append(['', 'dugnad'])
$ crumbs().append(['project/' + key + '/info', _(project['title'])])
$ crumbs().append([None, _('help')])

<section class=help>
  <h1>$_(project['title'])</h1>

  <p>$:_(key + '-howto')

  <h2>$_('terms')</h2>
  <p>$_(config.get('help', {}).get('introduction'))

  $for form, terms in forms.iteritems():
    <h3>$_(form)</h3>
    <dl>
    $for term in terms:
      $if term.get('help'):
        <dt><b>$_(term['name'])</b></dt>
        <dd>$:_(term['help'])</dd>
    </dl>
  <footer>
    <p><small>Sist oppdatert 2017-10-17</small>
  </footer>
</section>

