$def with(config, forms)

<div class=info>
  <aside>
    <p>
      $if not helper.uid():
        <a target=user href='/user/'>Register or sign in</a>
        ·
      <a href='/static/help.pdf'>Last ned som PDF</a>
  </aside>

  <h1>$_('Transkribering: Karplanter fra Telemark')</h1>

  <p>$:_('howto')

  <h2>$_('terms')</h2>
  <p>$_(config.get('help', {}).get('introduction'))

  $for form, terms in forms.iteritems():
    <h3>$_(form)</h3>
    <dl>
    $for term in terms:
      $if term.get('help'):
        <dt><b>$_(term['name'])</b></dt>
        <dd>$_(term['help'])</dd>
    </dl>
  <footer>
    <p><small>Sist oppdatert 2017-05-03</small>
  </footer>
</div>

