$def with(projects, changes)

<section class=info>
  <section>
    <h1>$_('welcome')</h1>
    <aside class=changelog>
      <h2>$_('recent-changes')</h2>
      <dl>
      $ date = None
      $for change in changes:
        $if not date == change['date']:
          <dt><time>$change['date']</time></dt>
          $ date = change['date']
        <dd>$change['text']</dd>
      </dl>
      <p><a href='$prefix/changelog'>$_('all-changes')</a>
    </aside>

    <p>$:_('introduction')
    <p>$:_('introduction-user')
  </section>
</section>

<section class=projects>
  $for project in projects:
    <article>
      <a href='$prefix/$_('url-project')/$project['slug']/info'>
        $if 'image' in project:
          <img src='$config['base']/images/$project['image']'>
        <h3>$_(project['title'])</h3>
      </a>
      $if 'difficulty' in project:
        <p class=difficulty>$_('difficulty'): <b>$project['difficulty']</b>
    </article>
</section>

