$def with(changes)

<section class=info>
  <section>
    <h1>$_('welcome')</h1>
    <aside class=changelog>
      <h2>$_('recent-changes')</h2>
      <dl>
      $ date = None
      $for change in changes:
        $if not date == change['date']:
          <dt><time>$change['date']</time></dt>
          $ date = change['date']
        <dd>$change['text']</dd>
      </dl>
    </aside>

    <p>$:_('introduction')
    <p>$:_('introduction-user')
  </section>
</section>

<section class=projects>
  <article>
    <a href='/dugnad/project/telemark/info'>
      <img src='/static/images/telemark.jpg'>
      <h3>Transkribering: Karplanter fra Telemark</h3>
    </a>
  </article>

  <article>
    <a href='/dugnad/project/telemark/info'>
      <img src='/static/images/telemark.jpg'>
      <h3>Transkribering: Karplanter fra Telemark</h3>
    </a>
  </article>

  <article>
    <a href='/dugnad/project/telemark/info'>
      <img src='/static/images/telemark.jpg'>
      <h3>Transkribering: Karplanter fra Telemark</h3>
    </a>
  </article>
</section>

