$def with(changes)

<div class=info>
  <aside class=login>
    <p>
      $if not helper.uid():
        <a target=user href='/user/'>$_('link-login')</a>
      $else:
        <a target=user href='/user/'>
        $if helper.name():
          $_('signed-in-as')
          $helper.name()
        $else:
          $_('signed-in')
        </a>
  </aside>

  <h1><b>dugnad</b> annotering &amp; transkribering</h1>

  <aside class=changelog>
    <h2>$_('recent-changes')</h2>
    <dl>
    $ date = None
    $for change in changes:
      $if not date == change['date']:
        <dt><time>$change['date']</time></dt>
        $ date = change['date']
      <dd>$change['text']</dd>
    </dl>
  </aside>

  <p>$:_('introduction')
  <p>$:_('introduction-user')

  <div class=projects>
    <div class=project>
      <a href='/dugnad/project/telemark'>
        <img src='/static/telemark.jpg' width='240'>
        <h3>Transkribering: Karplanter fra Telemark</h3>
      </a>
    </div>
  </div>

  <hr>
  <p>
    <a href='mailto:gbif-drift@nhm.uio.no'><img width='151' src='http://www.gbif.no/vrtx/decorating/resources/images/logo.png'></a>
</div>

