$def with (content)
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dugnad</title>
<link rel='stylesheet' href='$config['base']/css/dugnad.css'>

<header>
  <nav>
    <a href='$prefix'>
      <h1><b>dugnad</b> annotering &amp; transkribering</h1>
    </a>
  
    <a class='register-login' target=user href='/user/'>
      $if not helper.uid():
        $_('link-login')
      $else:
        $if helper.name():
          $_('signed-in-as')
          $helper.name()
        $else:
          $_('signed-in')
    </a>
  </nav>
  $if crumbs:
    <nav class=crumbs>
      <p>
      $for crumb in crumbs():
        $if crumb[0] is not None:
          <a href="$prefix/$crumb[0]">$crumb[1]</a> /
        $else:
          <a>$crumb[1]</a> 
    </nav>
</header>

<main>
  $:content
</main>

<hr>

<footer>
  <p>
    <a href='mailto:gbif-drift@nhm.uio.no'>
      <img width='151' src='https://www.gbif.no/vrtx/decorating/resources/images/logo.png'>
    </a>
</footer>

