$def with(title, recs)
$ crumbs().append(['', 'dugnad'])
$ crumbs().append([None, _(title)])

<section class=stats>
    <h1>$_(title)</h1>
    <table class=list>
      <tr>
        <th>$_('id')</th>
        <th>$_('project')</th>
        <th>$_('last-update')</th>
        <th></th>
      </tr>
    
      $for rec in recs:
        <tr>
          <td>$rec['id']</td>
          <td>$rec['project']</td>
          <td>$rec['date']</td>
          <td><a href='$prefix/$title/$rec['id']'>$_('edit')</a></td>
        </tr>
    </table>
</section>

