$def with(key, project, subprojects)

$ crumbs().append(['', 'dugnad'])
$ crumbs().append(['project/' + key + '/info', _(project['title'])])
$ crumbs().append([None, _('subprojects')])

<section class=info>
  <section>
    <h1>$_(project['title'])</h1>

    <p>$:_(project['help']['subprojects'])
  </section>
</section>

<section class='projects subprojects'>
  $for subproject in subprojects:
    $if subproject['key'] != "unknown":
      <article class=project>
        <a href='$prefix/project/$key/?county=$subproject['key']'>
          $if subproject.get('thumbnail'):
            <img class='subproject-thumbnail' src='$(config['base'])/kommuneskjold/$(subproject['thumbnail']).png'>
          <h3>$_(subproject['key'])</h3>
        </a>
      </article>
  </section>
</section>

