$def with(key, project, charts)

$ crumbs().append(['', 'dugnad'])
$ crumbs().append([None, _(project['title'])])

<link rel='stylesheet' href='$config['base']/css/chartist.css'>

<section class=info>
  <section>
    <h1>$_(project['title'])</h1>
    $for logo, url in project.get('logos', {}).iteritems():
      <a href='$url'><img class=project-logo width=160 src='$logo' alt></a>
    <p>$:_(project['description'])
  
    <p id=start-transcribing>
      <a class=btn href='$prefix/project/$key'>$_('start-project') »</a>
    <p id=start-transcribing>
      <a class=btn href='$prefix/project/$key/screencast'>$_('screencast') »</a>
  </section>
</section>

<section class=stats>
  $for chart in charts:
    <article>
      <div id='chart-$chart['id']' class='ct-chart ct-perfect-fifth'></div>
      <p>$chart['description']
    </article>
</section>

<!--
<nav>
  <a href='$prefix/project/$key/log'>Transkripsjonslogg</a>
</nav>
-->

<script src='$config['base']/js/chartist.js'></script>
<script>
$for chart in charts:
  var data = {
    labels: $:json.dumps(chart.get('labels')),
    series: $:json.dumps(chart.get('series'))
  }
  $if chart['type'] == "pie":
    new Chartist.Pie('#chart-$chart['id']', data);
  $elif chart['type'] == "bar":
    new Chartist.Bar('#chart-$chart['id']', data);
  $elif chart['type'] == "area":
    new Chartist.Line('#chart-$chart['id']', data, {
      fullWidth: true, chartPadding: { right: 40 }, showArea: true,
      axisY: { showGrid: false, onlyInteger: true }
    });
  $elif chart['type'] == "line":
    new Chartist.Line('#chart-$chart['id']', data);

var data = {
  'labels': ['Anonym #1', 'Anonym #2', 'Anonym #3', "Anonym #4", "Anonym #5"],
  'series': [
    [ 100, 60, 30, 10, 5]
  ]
};
// onlyInteger: true
new Chartist.Bar("#test3", data, {
  axisX: { showGrid: false },
  axisY: { showGrid: false, onlyInteger: true }
});
</script>

