$def with(key, project, stats, charts)

$ crumbs().append(['', 'dugnad'])
$ crumbs().append(['project/' + key + '/info', _(project['title'])])
$ crumbs().append([None, _('bakrom')])

<link rel='stylesheet' href='$config['base']/css/chartist.css'>
<script src='$config['base']/js/chartist.js'></script>

<section class=info>
  <section>
    <h1>Bakrommet</h1>
    <p>Her får du en oversikt over dette prosjektet – hvem som har bidratt, hvor mye, og hvor ofte.
  </section>
</section>

<section class=stats>
  $ mid= (len(stats) + 1) / 2
  <table>
    $for stat in stats[:mid]:
      <tr>
        <th>$_(stat[0]):</th>
        <td>$stat[1]</td>
      </tr>
  </table>
  <table>
    $for stat in stats[mid:]:
      <tr>
        <th>$_(stat[0]):</th>
        <td>$stat[1]</td>
      </tr>
  </table>
</section>

<section class=stats>
  $for chart in charts:
    <article>
      <div id='chart-$chart['id']' class='ct-chart ct-perfect-fifth'></div>
      <p>$chart['description']
    </article>
</section>

<script>
$for chart in charts:
  var data = {
    labels: $:json.dumps(chart.get('labels')),
    series: $:json.dumps(chart.get('series'))
  }
  $if chart['type'] == "pie":
    new Chartist.Pie('#chart-$chart['id']', data);
  $elif chart['type'] == "bar":
    new Chartist.Bar('#chart-$chart['id']', data);
  $elif chart['type'] == "area":
    new Chartist.Line('#chart-$chart['id']', data, {
      fullWidth: true, chartPadding: { right: 40 },
      low: 0, showArea: true,
      axisY: { showGrid: false, onlyInteger: true }
    });
  $elif chart['type'] == "line":
    new Chartist.Line('#chart-$chart['id']', data);

var data = {
  'labels': ['Anonym #1', 'Anonym #2', 'Anonym #3', "Anonym #4", "Anonym #5"],
  'series': [
    [ 100, 60, 30, 10, 5]
  ]
};
// onlyInteger: true
new Chartist.Bar("#test3", data, {
  axisX: { showGrid: false },
  axisY: { showGrid: false, onlyInteger: true }
});
</script>

