$def with(key, project, subprojects)

$ crumbs().append(['', 'dugnad'])
$ crumbs().append(['project/' + key + '/info', _(project['title'])])
$ crumbs().append([None, _('subprojects')])

<section class=info>
  <section>
    <h1>$_(project['title'])</h1>

    <p>$_('subprojects-help')
  </section>
</section>

<section class='projects'>
  $for subproject in subprojects:
    <article class=project>
      <a href='$prefix/project/$key/sub-$subproject['key']'>
        $if subproject.get('thumbnail'):
          <img class='subproject-thumbnail' data-progress='$subproject['progress']' src='$(conf['base'])/projects/$(subproject['thumbnail']).png'>
        <h3>$_(subproject['key'])</h3>
        <p class=progress>$_('progress'): $subproject['progress']%
      </a>
    </article>
  </section>
</section>

