$def with (key, record, forms, project, showfilters, nick)
<!doctype html>
<meta charset=utf-8>
<title>Dugnad</title>
<link rel='stylesheet' href='$config['base']/css/transcribe.css?$version'>
<link rel='stylesheet' href='$config['base']/css/leaflet.css?$version'>
<link rel='stylesheet' href='$config['base']/css/leaflet.draw.css?$version'>
<link rel='stylesheet' href='$config['base']/css/leaflet.measure.css?$version'>
<link rel='stylesheet' href='$config['base']/css/auto-complete.css?$version'>

<script src='$config['base']/js/openseadragon.js?$version'></script>
<script src='$config['base']/js/leaflet.js?$version'></script>
<script src='$config['base']/js/leaflet.draw.js?$version'></script>
<script src='$config['base']/js/leaflet.measure.js?$version'></script>
<script src='$config['base']/js/wicket.js?$version'></script>
<script src='$config['base']/js/wicket-leaflet.js?$version'></script>
<script src='$config['base']/js/auto-complete.js?$version'></script>
<script src='$config['base']/js/dugnad.js?$version'></script>

$ crumbs().append(['', 'dugnad'])
$ crumbs().append([key + '/info', _(project['title'])])
$ crumbs().append([None, _('transcribe')])
<header>
  <nav>
    <a href='$prefix'>
      <h1><b>dugnad</b> annotering &amp; transkribering</h1>
    </a>
  
      $if project.get('filter') and showfilters:
        <form method=get>
          <p>
            <b>$_('filter-by-interest')</b>
            $for input in helper.showfilter(project).inputs:
              $:input.render()
            <input type=submit value="$_('filter')">
        </form>

    <a class='register-login' target=user href='/user/'>
      $if not helper.uid():
        $_('link-login')
      $else:
        $if helper.name():
          $_('signed-in-as')
          $helper.name()
        $else:
          $_('signed-in')
    </a>
  </nav>

  <nav class=crumbs>
    <p>
      $if crumbs:
        $for crumb in crumbs():
          $if crumb[0] is not None:
            <a href="$prefix/$crumb[0]">$crumb[1]</a> /
          $else:
            <a>$crumb[1]</a> 
        $if helper.admin():
          <p><a href='$prefix/$_('url-backroom')'>$_('backroom')</a>
    <p>
      $if helper.uid():
        <a href='$prefix/$_('url-unfinished')'>$_('link-unfinished')</a>
        ·
        <a href='$prefix/$_('url-finished')'>$_('revise-transcriptions')</a>
        ·
      <a id='open-chat' target='chat' href='#'>$_('chat')</a>
      ·
      <a id='open-help' target='help' href='$prefix/$key/$_('url-help')'>$_('help')</a>
  </nav>
</header>

<main>
  <aside id=map-overlay class=overlay>
    <div id="map"></div>
    <a id=ring></a>
  </aside>
  $if record:
    <section id="dz">
    <p class=modes>
      $if project.get('georeference'):
        $if record.get("_zoom"):
          <a id=show-map data-replace="$_('link-image')" href='#'>$_('link-map')</a>
        $else:
          <a id=show-map>$_('no-image')</a>
    $if record.get("_zoom"):
      <section id='dzi'></section>
      <script>
      var viewer = OpenSeadragon({
        id: "dzi",
        showRotationControl: true,
        minZoomImageRatio: 0.5,
        maxZoomImageRatio: 2.0,
        showFullPageControl: false,
        degrees: 0,
        showHomeControl: false,
        zoomPerScroll: 1.1,
        prefixUrl: "/static/images/",
        tileSources: "/static/tmp/$record["_zoom"]"
      });
      </script>
    $elif 'associatedMedia' in record:
      <img class='nozoom' src='$record.get('associatedMedia')'>
    </section>
    <section id=tr>
      <form id='transcription' method='post' action="$prefix/$key">
        <h2 style='display: none;'>$record['_id']</h2>
        $for name, form in forms.iteritems():
    			<fieldset>
    				<legend>$_(name)</legend>
    				$:form.render()
    			</fieldset>
        <p>
          <input name=save type=submit value="$_('submit')">
          $if showfilters:
            <input name=skip type=submit value="$_('skip')">
          $if helper.uid():
            <input name=later type=submit value="$_('finish-later')">
        <div id=help>
          <h3>$_('help')</h3>
          <p id=helptext>$_(project.get('help', {}).get('introduction'))
        </div>
      </form>
    </section>
  $else:
    <section id=error><p>$_('no-matching-records')</section>
</main>

<aside id=chat-overlay class=overlay>
  $if record and record.get('_id') and key:
    <iframe src='https://data.gbif.no/chat/chat.cgi/dugnad?name=$nick&url=https://data.gbif.no/dugnad/$key/$record.get('_id')'>
  $else:
    <iframe src='https://data.gbif.no/chat/chat.cgi/dugnad?name=$nick'>
</aside>

