$def with (key, record, forms, zoom)

$if 'dwc:associatedMedia' in record:
  $if zoom:
    <div id="dz"></div>
    <script>
    var viewer = OpenSeadragon({
      id: "dz",
      minZoomImageRatio: 0.5,
      maxZoomImageRatio: 1.0,
      showFullPageControl: false,
      degrees: 90,
      showHomeControl: false,
      zoomPerScroll: 1.1,
      prefixUrl: "/images/",
      tileSources: "" %>"
    });
    </script>
  $else:
    <img class='nozoom' src='$record.get('dwc:associatedMedia')'>

<div id="tr">
  <form id='transcription' method='post' action="/$key">
    <h3>$key</h3>

		$for name, form in forms.iteritems():
			<fieldset>
				<legend>$_(name)</legend>
				$:form.render()
			</fieldset>
    <p>
      <input type=submit value="$_('Annotate')">
  </form>
</div>


